---
import "../styles/global.scss";
---

<footer>
  <p>© 2024</p>
  <p>Developed by Berkeley County IT</p>
  <div class="footer_links">
    <a href="https://www.facebook.com/BerkeleySCGov/">Facebook</a>
    <a href="https://berkeleycountysc.gov">Web</a>
    <a href="https://github.com/Berkeley-County">GitHub</a>
  </div>
</footer>
